<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- SQL Server Express bağlantı dizesi (Windows Authentication) -->
    <add name="CompanyTaskDB" 
         connectionString="Server=localhost\SQLEXPRESS;Database=CompanyTaskDB;Trusted_Connection=True;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
